# EditorConfig is awesome:
# https://EditorConfig.org

# This EditorConfig overrides any parent EditorConfigs
root = true

# Default rules applied to all file types
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
quote_type = single

# Rules applied to JavaScript and TypeScript files
[{*.json, *.yml}]
indent_size = 2

# Rules applied to stylesheet files
[{*.scss, *.less, *.sass}]
indent_style = tab
quote_type = double