/// -----------------------------------------------------------------------------
/// 🟢 CSS Tokens
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
:root {
	--color-neutral-light: #ffffff;
	--color-neutral-dark: #1a202c;

	--color-button-bg-default: #f4f6f8;
	--color-button-bg-selected: #e5e8fd;
	--color-button-label-default: #343a40;
	--color-button-label-selected: #253cf2;
}
