/// -----------------------------------------------------------------------------
/// 🟢 SCSS Tokens
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
$bp-sm: 520px;
$bp-md: 710px;
$bp-lg: 980px;
$bp-xl: 1200px;

$font-family-primary:
	-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
	"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-code:
	source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$font-size-base: 16px;
