@use "../../../assets/scss/utils.scss" as *;

.suc-upvote-toolbar {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	align-items: center;
	gap: $spacing-md;
	padding: $spacing-md;
	border: 1px solid #dee2e6;
	border-radius: $spacing-md;
}
