@use "../../../assets/scss/utils.scss" as *;

.suc-card {
	display: flex;
	flex-direction: column;
	gap: $spacing-lg;
	padding: $spacing-lg;
	border-radius: $radius-md;
	background: var(--color-neutral-light);
}
