.suc-button {
	cursor: pointer;

	// Appearance
	padding: 24px;
	border: 1px solid transparent;
	border-radius: 16px;
	background: #f4f6f8;

	// Typography
	color: #343a40;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	font-family: inherit;

	// Interaction
	transition: border-color 0.25s;

	// Modifier: Selected
	&--selected {
		background: #e5e8fd;
		color: #253cf2;
	}

	// State: Hover
	&:hover {
		border-color: #253cf2;
	}

	// State: Focus
	// &:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}
