@use "sass:math";
@use "../../../assets/scss/utils.scss" as *;

.suc-button {
	display: flex;
	align-items: center;
	padding: #{$spacing-md - 1px};
	border: 1px solid transparent;
	border-radius: $radius-md;
	background: var(--color-button-bg-default);
	color: var(--color-button-label-default);
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	transition: border-color 0.25s;

	&:hover {
		border-color: var(--color-button-label-default);
	}

	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}

	svg {
		margin-right: $spacing-sm;
	}

	// Modifier: Selected
	&--selected {
		background: var(--color-button-bg-selected);
		color: var(--color-button-label-selected);

		&:hover {
			border-color: var(--color-button-label-selected);
		}
	}

	// Modifier: (Size) Small
	&--sm {
		padding: #{$spacing-sm - 1px};
		border-radius: $radius-sm;
		font-size: 10px;
		line-height: 12px;

		svg {
			margin-right: math.div($spacing-sm, 2);
		}
	}

	// Modifier: (Size) Large
	&--lg {
		padding: #{$spacing-lg - 1px};
		border-radius: $radius-lg;
		font-size: 16px;
		line-height: 24px;

		svg {
			margin-right: math.div($spacing-sm, 2) * 3;
		}
	}
}
