@use "sass:math";
@use "../../../assets/scss/utils.scss" as *;

.suc-button {
	display: flex;
	align-items: center;
	padding: $spacing-md;
	border: 1px solid transparent;
	border-radius: $radius-md;
	background: var(--color-button-bg-default);
	color: var(--color-button-label-default);
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	transition: border-color 0.25s;

	// Element: Icon
	&__icon {
		width: 16px;
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// Element: Label
	&__label {
		display: block;

		&:not(:only-child) {
			margin-left: $spacing-sm;
		}
	}

	// State: Hover
	&:hover {
		border-color: var(--color-button-label-default);
	}

	// State: Focus
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}

	// Modifier: Selected
	&--selected {
		background: var(--color-button-bg-selected);
		color: var(--color-button-label-selected);

		&:hover {
			border-color: var(--color-button-label-selected);
		}
	}

	// Modifier: Icon
	&--icon {
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	// Modifier: (Size) Small
	&--sm {
		padding: $spacing-sm;
		border-radius: $radius-sm;
		font-size: 10px;
		line-height: 12px;

		&.suc-button--icon {
			width: 28px;
			height: 28px;
		}

		.suc-button__label {
			&:not(:only-child) {
				margin-left: math.div($spacing-sm, 2);
			}
		}
	}

	// Modifier: (Size) Large
	&--lg {
		padding: $spacing-lg;
		border-radius: $radius-lg;
		font-size: 16px;
		line-height: 24px;

		&.suc-button--icon {
			width: 72px;
			height: 72px;
		}

		.suc-button__label {
			&:not(:only-child) {
				margin-left: math.div($spacing-sm, 2) * 3;
			}
		}
	}
}
