@use "../../../assets/scss/utils.scss" as *;

.suc-header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0 0 $spacing-lg;

	&__title {
		min-width: 1px;
		flex: 1;
		margin: 0;
	}

	&__actions {
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		margin-left: $spacing-lg;

		button {
			margin-left: $spacing-md;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
