@use "../../../assets/scss/utils.scss" as *;

.suc-header {
	display: block;
	margin: 0 0 $spacing-lg;
	padding: 0;

	@include bp(min-width, sm) {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	&__title {
		min-width: 1px;
		flex: 1;
		margin: 0;
	}

	&__actions {
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		margin-top: $spacing-sm;

		@include bp(min-width, sm) {
			margin-top: 0;
			margin-left: $spacing-lg;
		}

		button {
			margin-left: $spacing-md;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
